In [380]:
# Import dependencies
import pandas as pd
import numpy as np
import json
import re
from sqlalchemy import create_engine
from pprint import pprint

import warnings
warnings.filterwarnings("ignore")

In [335]:
# !pip install pymysql

# 1. Extract

In [336]:
# Reading the movies_ratings csv file
df_ratings = pd.read_csv(r'Resources/movies_ratings.csv')
df_ratings.head()

   userId  movieId  rating   timestamp
0  1       31       2.5     1260759144
1  1       1029     3.0     1260759179
2  1       1061     3.0     1260759182
3  1       1129     2.0     1260759185
4  1       1172     4.0     1260759205

In [337]:
# Reading the movies_metadata csv file
df_movies = pd.read_csv(r'Resources\movies_metadata.csv')
df_movies.sample(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
2541,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'name': 'Science Fiction'}, {'id': 53, 'name': 'Thriller'}]",NaN,9077,tt0048696,en,Tarantula,A spider escapes from an isolated desert laboratory experimenting in giantism and grows to tremendous size as it wreaks havoc on the local inhabitants.,...,1955-12-14,0.0,80.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,More terrifying than any horror known to man comes a creeping crawling monster whose towering fury no one can escape!,Tarantula,False,6.1,58.0
6702,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]",NaN,47866,tt0104321,en,Gas Food Lodging,"In the boring desert of New Mexico, a single mother raises her two teenage daughters, Shade and Trudi, whose deepest desire is to leave the dead calm town. Shade is the type to escape in her extravagant fantasies while Trudi is so rebelious it could drive her away.",...,1992-07-10,1345236.0,101.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso_639_1': 'en', 'name': 'English'}]",Released,"When Shade's good, she's very good. But when Trudi's bad, she's better.",Gas Food Lodging,False,5.8,12.0

In [338]:
# Reading the wikipedia-movies json file
with open(r'Resources/wikipedia-movies.json',mode='r') as file:
    movies_wiki_raw = json.load(file)
len(movies_wiki_raw)

7311

# 2. Tranform

In [339]:
df_ratings.shape

(100004, 4)

In [340]:
df_ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [341]:
df_ratings['timestamp'] = pd.to_datetime(df_ratings['timestamp'], unit = 's')

In [342]:
df_ratings.head()

   userId  movieId  rating           timestamp
0  1       31       2.5    2009-12-14 02:52:24
1  1       1029     3.0    2009-12-14 02:52:59
2  1       1061     3.0    2009-12-14 02:53:02
3  1       1129     2.0    2009-12-14 02:53:05
4  1       1172     4.0    2009-12-14 02:53:25

In [343]:
df_movies.sample(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
37988,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,49381,tt1794821,en,Jimmy Carr: Making People Laugh,"Jimmy Carr is the hardest working comedian in Britain. He has now played to over one million people on tour and sold over a million DVDs. He returns with the release of his most outrageous stand up set to date, Making People Laugh, featuring over two hours of material that’s too rude for TV. The new DVD shows Jimmy at his very best and contains over 250 jokes. Here’s a small selection: “The first guy who persuaded a blind person they needed sunglasses, he must have been a hell of a salesman.” “Liverpool is the only city in Great Britain where JD Sports, has an evening wear department.” “A great way to warm up pensioners in winter.. is cremation.” “My girlfriend recently had a phantom pregnancy. And now we have a little baby ghost.”",...,2010-11-08,0.0,113.0,[],Released,NaN,Jimmy Carr: Making People Laugh,False,7.1,9.0
14871,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,19962,tt0282744,en,Mike Bassett: England Manager,"Mike Bassett: England Manager is an hilarious British Comedy that stars Ricky Thomlinson. Featuring Cameos from Barry Venison, Gabby Yorath, Atomic Kitten and Pele.When the England manager has a heart attack, footballs' top brass turn to Mike Bassett (basically no one else wanted the job). England lose Mike's first two games in charge. His team struggles to a goal-less draw in the final qualifying match but, thanks to a fluke result elsewhere, England qualify for the finals in Brazil.In South America things go from bad to worse. Pressure is mounting for Mike. An embarrassing drunken performance caught by a new photographer seals his fate as the most unpopular Englishman ever.However, Mike makes an impassioned plea for the country to get behind him - fans, press, players.... even his wife. Can Mike turn the tide and bring football home ? ..",...,2001-09-28,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'pt', 'name': 'Português'}]",Released,NaN,Mike Bassett: England Manager,False,7.2,15.0

In [344]:
df_movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [345]:
df_movies.shape

(45466, 24)

In [346]:
# Checking null values percentage
percent = df_movies.isnull().sum()*100/len(df_movies)
total = df_movies.isnull().sum()
movies_null = pd.DataFrame({'Total':total, 'Percent':percent})
movies_null

                       Total    Percent
adult                  0      0.000000
belongs_to_collection  40972  90.115691
budget                 0      0.000000
genres                 0      0.000000
homepage               37684  82.883913
id                     0      0.000000
imdb_id                17     0.037391
original_language      11     0.024194
original_title         0      0.000000
overview               954    2.098271
popularity             5      0.010997
poster_path            386    0.848986
production_companies   3      0.006598
production_countries   3      0.006598
release_date           87     0.191352
revenue                6      0.013197
runtime                263    0.578454
spoken_languages       6      0.013197
status                 87     0.191352
tagline                25054  55.104914
title                  6      0.013197
video                  6      0.013197
vote_average           6      0.013197
vote_count             6      0.013197

In [347]:
# Keeping columns with null values less than 10% only
drop_list = movies_null[movies_null['Percent']>10].index.tolist()
df_movies.drop(drop_list, axis = 1, inplace = True)
df_movies.columns

Index(['adult', 'budget', 'genres', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [348]:
df_movies.dtypes

adult                   object
budget                  object
genres                  object
id                      object
imdb_id                 object
original_language       object
original_title          object
overview                object
popularity              object
poster_path             object
production_companies    object
production_countries    object
release_date            object
revenue                 float64
runtime                 float64
spoken_languages        object
status                  object
title                   object
video                   object
vote_average            float64
vote_count              float64
dtype: object

In [349]:
df_movies.adult.value_counts()

False                                                                                                                             45454
True                                                                                                                              9
 - Written by Ørnås                                                                                                               1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                    1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.    1
Name: adult, dtype: int64

In [350]:
# Keeping rows where adult column is false and dropping adult column
df_movies = df_movies[df_movies.adult == 'False'].drop('adult', axis = 'columns')

In [351]:
df_movies.video.value_counts()

False    45358
True     93
Name: video, dtype: int64

In [352]:
# Keeping rows with video is false
df_movies.video = df_movies.video == 'True'
df_movies.video.value_counts()

False    45454
Name: video, dtype: int64

In [353]:
# Converting columns to numeric types
df_movies.budget = df_movies.budget.astype(int)
df_movies.id = pd.to_numeric(df_movies.id, errors = 'raise')
df_movies.popularity = pd.to_numeric(df_movies.popularity, errors = 'raise')

In [354]:
# Converting column to datetime datatype
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'])

In [355]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45454 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45454 non-null  int32
 1   genres                45454 non-null  object
 2   id                    45454 non-null  int64
 3   imdb_id               45437 non-null  object
 4   original_language     45443 non-null  object
 5   original_title        45454 non-null  object
 6   overview              44500 non-null  object
 7   popularity            45451 non-null  float64
 8   poster_path           45068 non-null  object
 9   production_companies  45451 non-null  object
 10  production_countries  45451 non-null  object
 11  release_date          45368 non-null  datetime64[ns]
 12  revenue               45451 non-null  float64
 13  runtime               45194 non-null  float64
 14  spoken_languages      45451 non-null  object
 15  status                45370 non-null  object
 16  title                 45451 non-null  object
 17  video                 45454 non-null  bool
 18  vote_average          45451 non-null  float64
 19  vote_count            45451 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(5), int32(1), int64(1), object(11)
memory usage: 6.8+ MB

In [356]:
movies_wiki_raw[0]

{'url': 'https://en.wikipedia.org/wiki/The_Adventures_of_Ford_Fairlane',
 'year': 1990,
 'imdb_link': 'https://www.imdb.com/title/tt0098987/',
 'title': 'The Adventures of Ford Fairlane',
 'Directed by': 'Renny Harlin',
 'Produced by': ['Steve Perry', 'Joel Silver'],
 'Screenplay by': ['David Arnott', 'James Cappe', 'Daniel Waters'],
 'Story by': ['David Arnott', 'James Cappe'],
 'Based on': ['Characters', 'by Rex Weiner'],
 'Starring': ['Andrew Dice Clay',
  'Wayne Newton',
  'Priscilla Presley',
  'Lauren Holly',
  'Morris Day',
  'Robert Englund',
  "Ed O'Neill"],
 'Narrated by': 'Andrew "Dice" Clay',
 'Music by': ['Cliff Eidelman', 'Yello'],
 'Cinematography': 'Oliver Wood',
 'Edited by': 'Michael Tronick',
 'Productioncompany ': 'Silver Pictures',
 'Distributed by': '20th Century Fox',
 'Release date': ['July 11, 1990', '(', '1990-07-11', ')'],
 'Running time': '102 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$20 million',
 'Box office': '$21.4 million'}

In [357]:

def clean_movie(movie):
    """This function will take the each movie will combine alternate titles and change column names."""
    movie = dict(movie)
    alt_titles = {}
#     Combine alternate titles into one list alt_titles    
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                    'Hangul','Hebrew','Hepburn','Japanese','Literally',
                    'Mandarin','McCune-Reischauer','Original title','Polish',
                    'Revised Romanization','Romanized','Russian',
                    'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    def change_column_name(old_name, new_name):
        """This function will replace the values of old name in new name and pop the old name from list"""
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)

    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')

    return movie

In [358]:

def clean_movies_json(movies_wiki_json):
    # Using list comprehension to filter out Tv shows from Movies
    movies_wiki = [movie for movie in movies_wiki_raw
                   if ('Director' in movie or 'Directed by') in movie 
                   and 'imdb_link' in movie   
                   and 'No. of episodes' not in movie]
    
    # Using a list comprehension to clean each movie with function clean_movie
    clean_movies = [clean_movie(movie) for movie in movies_wiki]
    
    movies_wiki_df = pd.DataFrame(clean_movies)
    
    # Using regexp to extract id from link and drop duplicate rows from id
    movies_wiki_df['imdb_id'] = movies_wiki_df['imdb_link'].str.extract(r'(tt\d{7})')
    movies_wiki_df.drop_duplicates('imdb_id', inplace = True)
    
    # Using list comprehension to keep only columns with null values less than 10%
    wiki_columns_keeping = [column for column in movies_wiki_df.columns 
                            if movies_wiki_df[column].isnull().sum() < len(movies_wiki_df) * 0.9]
    movies_wiki_df = movies_wiki_df[wiki_columns_keeping]
    
    box_office = movies_wiki_df['Box office'].dropna()
    
    # Convert box_office to string values using lambda function
    box_office = box_office.apply(lambda x: ' '.join(x) if type(x) ==  list else x)
    
    # Using regular expressions to match two types of patterns in box office data
    type_one = r'\$\d+\.?\d*\s*[mb]illion'
    type_two = r'\$\d{1,3}(?:,\d{3})+'
    
    def parse_dollars(s):
        """ This function will parse the box_office column using regular expressions."""
        if type(s) != str:
            return np.nan
        # Matches only the input of type $###.# million
        if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):
            s = re.sub('\$|\s|[a-zA-Z]', '', s)  # Removes the $ sign and ' million'
            value = float(s) * 10 ** 6  # Convert string to float and multiply by a million
            return value
        # Matches only the input of type $###.# billion
        elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):
            s = re.sub('\$|\s|[a-zA-Z]', '', s)  # Removes the $ sign and ' billion'
            value = float(s) * 10 ** 9  # Convert string to float and multiply by a billion
            return value
        # Matches only the input of type $###.# billion
        elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):
            s = re.sub('\$|,', '', s)  # Removes $ dollar sign and commas
            value = float(s)  # Convert string to float
            return value
        else:
            return np.nan
    # Cleaning the box_office column using the parse_dollar function
    movies_wiki_df['box_office'] = box_office.str.extract(f'({type_one}|{type_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
    movies_wiki_df.drop("Box office", axis=1, inplace = True)
    
    # Cleaning the release_date column using regular expressions
    release_date = movies_wiki_df['Release date'].dropna()
    release_date = release_date.apply(lambda x: ' '.join(x) if type(x) == list else x)
    date_type_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d,\s\d{4}'
    date_type_two = r'\d{4}.[01]\d.[123]\d'
    date_type_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
    date_type_four = r'\d{4}'
    movies_wiki_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_type_one}|{date_type_two}|{date_type_three}|{date_type_four})')[0], infer_datetime_format=True)
    movies_wiki_df.drop('Release date', axis=1, inplace= True)
    
    # Cleaning the budget column using regular expressions and parse_dollars funtion with patterns used in box_office cleaning
    budget = movies_wiki_df['Budget'].dropna()
    budget = budget.apply(lambda x: ' '.join(x) if type(x) == list else x)
    budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)
    movies_wiki_df['budget'] = budget.str.extract(f'({type_one}|{type_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
    movies_wiki_df.drop('Budget', axis=1, inplace=True)
    
    # Cleaning running time column using regular expresssions
    running_time = movies_wiki_df['Running time'].dropna()
    running_time = running_time.apply(lambda x: ' '.join(x) if type(x) == list else x)
    running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)|s*m')
    running_time_extract = running_time_extract.apply(lambda x: pd.to_numeric(x, errors='coerce')).fillna(0)
    movies_wiki_df['running_time'] = running_time_extract.apply(lambda x: x[0]*60 + x[1] if x[2] == 0 else x[2], axis=1)
    movies_wiki_df.drop('Running time', axis=1, inplace = True)
    
    return movies_wiki_df

In [359]:
movies_wiki_df = clean_movies_json(movies_wiki_raw)

In [360]:
movies_wiki_df.columns

Index(['url', 'year', 'imdb_link', 'title', 'Based on', 'Starring',
       'Cinematography', 'Country', 'Language', 'Director', 'Distributor',
       'Editor(s)', 'Composer(s)', 'Producer(s)', 'Production company(s)',
       'Writer(s)', 'imdb_id', 'box_office', 'release_date', 'budget',
       'running_time'],
      dtype='object')

In [361]:
df_movies = pd.merge(df_movies, movies_wiki_df, on='imdb_id', suffixes=['_wiki','_movies.met'])
df_movies.head()

,budget_wiki,genres,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,...,Distributor,Editor(s),Composer(s),Producer(s),Production company(s),Writer(s),box_office,release_date_movies.met,budget_movies.met,running_time
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]",862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]",...,Buena Vista Pictures Distribution,"[Robert Gordon, Lee Unkrich]",Randy Newman,"[Ralph Guggenheim, Bonnie Arnold]","[Walt Disney Pictures, Pixar Animation Studios]","[John Lasseter, Pete Docter, Andrew Stanton, Joe Ranft]",373600000.0,1995-11-19,30000000.0,81.0
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]",8844,tt0113497,en,Jumanji,"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures.",17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]",...,TriStar Pictures,Robert Dalva,James Horner,"[Scott Kroopf, William Teitler]","[Interscope Communications, Teitler Film]","[Greg Taylor, Jim Strain, Chris Van Allsburg]",262800000.0,1995-12-15,65000000.0,104.0
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",15602,tt0113228,en,Grumpier Old Men,"A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming the locals who worry she'll scare the fish away. But she's less interested in seafood than she is in cooking up a hot time with Max.",11.712900,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name': 'Lancaster Gate', 'id': 19464}]",...,Warner Bros. Pictures,"[Billy Weber, Seth Flaum, Maryann Brandon]",Alan Silvestri,"[John Davis, Richard C. Berman]",NaN,Mark Steven Johnson,71500000.0,1995-12-22,25000000.0,101.0
3,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]",31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusive ""good man"" to break a string of less-than-stellar lovers. Friends and confidants Vannah, Bernie, Glo and Robin talk it all out, determined to find a better way to breathe.",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,"[{'name': 'Twentieth Century Fox Film Corporation', 'id': 306}]",...,20th Century Fox,Richard Chew,"Kenneth ""Babyface"" Edmonds","[Terry McMillan, Ronald Bass, Deborah Schindler, Ezra Swerdlow]",NaN,"[Terry McMillan, Ronald Bass]",82000000.0,1995-12-22,16000000.0,124.0
4,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,"Just when George Banks has recovered from his daughter's wedding, he receives the news that she's pregnant ... and that George's wife, Nina, is expecting too. He was planning on selling their home, but that's a plan that -- like George -- will have to change with the arrival of both a grandchild and a kid of his own.",8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}, {'name': 'Touchstone Pictures', 'id': 9195}]",...,Buena Vista Pictures,"[Adam Bernardi, Stephen A. Rotter]",Alan Silvestri,Nancy Meyers,Touchstone Pictures,"[Nancy Meyers, Charles Shyer]",76600000.0,1995-01-01,30000000.0,106.0

In [362]:
df_movies = df_movies.drop(df_movies[(df_movies['release_date_wiki'] > '1996-01-01') & (df_movies['release_date_movies.met'] < '1965-01-01')].index)

In [363]:
df_movies['Language'].apply(lambda x: tuple(x) if type(x) == list else x).value_counts(dropna=False)

English                                                5480
NaN                                                    134
(English, Spanish)                                     68
(English, French)                                      35
(English, Japanese)                                    25
                                                       ..
(English, Somali)                                      1
(English, Mende, Spanish, Portuguese)                  1
(English, German, Nepali, Hindi, Mandarin, Tibetan)    1
(English, Romanian)                                    1
(English, Russian, Spanish)                            1
Name: Language, Length: 198, dtype: int64

In [364]:
df_movies.drop(['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True, axis = 1)

In [365]:
def merge_common_data(df, movies_met_col, wiki_col):
    """This function merges the data from two common columns
    and drops the redundant column."""
    df[movies_met_col] = df.apply(lambda x: x[wiki_col] if x[movies_met_col] == 0 else x[movies_met_col], axis=1)
    df.drop(wiki_col, inplace=True, axis = 1)

In [366]:
merge_common_data(df_movies, 'runtime', 'running_time')
merge_common_data(df_movies, 'budget_movies.met', 'budget_wiki')
merge_common_data(df_movies, 'revenue', 'box_office')

In [367]:
df_movies.status.value_counts()

Released           6024
Rumored            12
Post Production    10
In Production      2
Name: status, dtype: int64

In [368]:
df_movies = df_movies.loc[:, ['id', 'imdb_id', 'original_language', 'original_title',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'revenue', 'runtime', 'spoken_languages',
        'vote_average', 'vote_count', 'url', 'year',
       'imdb_link', 'title_movies.met', 'Based on', 'Starring',
       'Cinematography', 'Country', 'Director', 'Distributor', 'Editor(s)',
       'Composer(s)', 'Producer(s)', 'Writer(s)', 'release_date_movies.met',
       'budget_movies.met']]

In [369]:
df_movies.rename({'title_movies.met':'title',
                  'id':'movie_id',
                  'url':'wikipedia_url',
                  'budget_movies.met':'budget',
                  'release_date_movies.met':'release_date'},
                   axis=1, inplace=True)

In [370]:
for col in df_movies.columns:
    df_movies[col] = df_movies[col].apply(lambda x: ','.join(x) if type(x) ==  list else x)

In [371]:
for col in ['production_companies','production_countries','spoken_languages']:
    df_movies[col] = df_movies[col].str.findall(r'name\'\:\s\'([a-zA-z() ]+)')
    df_movies[col] = df_movies[col].apply(lambda x: ','.join(x) if type(x) ==  list else x)

In [372]:
rating_counts = (df_ratings.groupby(['movieId','rating'], as_index=False).count() 
                .rename({'userId':'count'}, axis=1) 
                .pivot(index='movieId',columns='rating', values='count'))
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

In [373]:
df_movies = pd.merge(df_movies, rating_counts, left_on='movie_id', right_index=True, how='left')
df_movies[rating_counts.columns] = df_movies[rating_counts.columns].fillna(0)

In [374]:
df_movies.sample(2)

,movie_id,imdb_id,original_language,original_title,overview,popularity,production_companies,production_countries,revenue,runtime,...,rating_0.5,rating_1.0,rating_1.5,rating_2.0,rating_2.5,rating_3.0,rating_3.5,rating_4.0,rating_4.5,rating_5.0
4370,50456,tt0993842,en,Hanna,"A 16-year-old girl raised by her father to be the perfect assassin is dispatched on a mission across Europe. Tracked by a ruthless operatives, she faces startling revelations about her existence and questions about her humanity.",8.071196,"Focus Features,Neunte Babelsberg Film,Holleran Company,Sechzehnte Babelsberg Film","Germany,United Kingdom,United States of America",63782078.0,111.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2138,1647,tt0292506,en,The Recruit,"A brilliant CIA trainee must prove his worth at the Farm, the agency's secret training grounds, where he learns to watch his back and trust no one.",11.485473,Birnbaum,United States of America,101191884.0,115.0,...,0.0,1.0,0.0,1.0,0.0,3.0,0.0,1.0,0.0,0.0

# 3. Load

In [102]:

# except Error as e:
#     print(e)

In [385]:
engine = create_engine('mysql+pymysql://root:pass@'127.0.0.1'/'movies_db'')
df_movies.to_sql(name = 'movies_data', con = conn, if_exists = 'replace', index= False)

SyntaxError: invalid syntax (<ipython-input-385-d049893a8f63>, line 1)

In [383]:
conn = pymysql.connect('127.0.0.1',"root","pass","movies_db" )

OperationalError: (1045, "Access denied for user 'root'@'localhost' (using password: YES)")

In [382]:
cur = engine.cursor()

AttributeError: 'Engine' object has no attribute 'cursor'

In [377]:
cur.execute("CREATE DATABASE IF NOT EXISTS movies_db;")

1

In [378]:
cur.execute("SHOW DATABASES;")
pprint(cur.fetchall())

(('employees_db',),
 ('information_schema',),
 ('movies_db',),
 ('mydb',),
 ('mysql',),
 ('performance_schema',),
 ('sql_hr',),
 ('sql_inventory',),
 ('sql_invoicing',),
 ('sql_store',),
 ('sys',))

In [379]:
df_movies.to_sql(name = 'movies_data', con = conn, if_exists = 'replace', index= False)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting

In [ ]:
'production_companies','production_countries','spoken_languages'

In [271]:
prod = df_movies[['production_companies']]

In [272]:
prod

                                                                                                                                                                                                                                                                                                                            production_companies
0     [{'name': 'Pixar Animation Studios', 'id': 3}]
1     [{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]
2     [{'name': 'Warner Bros.', 'id': 6194}, {'name': 'Lancaster Gate', 'id': 19464}]
3     [{'name': 'Twentieth Century Fox Film Corporation', 'id': 306}]
4     [{'name': 'Sandollar Productions', 'id': 5842}, {'name': 'Touchstone Pictures', 'id': 9195}]
...                                                                                            ...
6047  [{'name': 'Universal Pictures', 'id': 33}, {'name': 'Will Packer Productions', 'id': 49968}]
6048  [{'name': 'Metro-Goldwyn-Mayer (MGM)', 'id': 8411}, {'name': 'Annapurna Pictures', 'id': 13184}, {'name': 'First Light Production', 'id': 20344}]
6049  [{'name': 'Ingenious Media', 'id': 290}, {'name': 'Brookstreet Pictures', 'id': 3160}, {'name': 'The Fyzz Facility', 'id': 63443}, {'name': 'Emmett Furla Oasis Films (EFO Films)', 'id': 73685}, {'name': 'River Bay Films', 'id': 85562}, {'name': 'Kirk Shaw Productions', 'id': 95598}, {'name': 'Aboretum Productions', 'id': 95599}]
6050  []
6051  []

[6052 rows x 1 columns]

In [328]:
df_movies['spoken_languages'].str.findall(r'name\'\:\s\'([a-zA-z() ]+)')

0    [English]
1    [English, Fran]
2    [English]
3    [English]
4    [English]
5    [English, Espa]
6    [Fran, English]
7    [English, Deutsch]
8    [English]
9    [English]
Name: spoken_languages, dtype: object

In [224]:
df_movies['production_companies'][0].apply(lambda x: print('yes') if type(x) == dict else x)

AttributeError: 'str' object has no attribute 'apply'

In [226]:
df_movies[['production_companies','production_countries','spoken_languages']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6052 entries, 0 to 6051
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   production_companies  6052 non-null   object
 1   production_countries  6052 non-null   object
 2   spoken_languages      6052 non-null   object
dtypes: object(3)
memory usage: 349.1+ KB