In [117]:
# Import dependencies
import pandas as pd
import numpy as np
import json
import re

import warnings
warnings.filterwarnings("ignore")

# 1. Extract

In [142]:
# Reading the movies_ratings csv file
df_ratings = pd.read_csv(r'Resources/movies_ratings.csv')
df_ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [143]:
# Reading the movies_metadata csv file
df_movies = pd.read_csv(r'Resources\movies_metadata.csv')
df_movies.sample(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
26659,False,NaN,0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,87115,tt0029087,en,Knight Without Armour,British agent working in Russia is forced to r...,...,1937-07-23,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The woman of flame -- the man of steel -- toge...,Knight Without Armour,False,5.3,3.0
44580,False,NaN,5300000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,8453,tt0439662,hi,Fanaa,Zooni Ali Beg (Kajol) is a blind Kashmiri girl...,...,2006-05-26,22175908.0,168.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}, {'iso_...",Released,Destroyed in love...,Fanaa,False,6.7,53.0

In [144]:
# Reading the wikipedia-movies json file
with open(r'Resources/wikipedia-movies.json',mode='r') as file:
    movies_wiki_raw = json.load(file)
len(movies_wiki_raw)

7311

# 2. Tranform

In [145]:
df_ratings.shape

(100004, 4)

In [146]:
df_ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [147]:
df_ratings['timestamp'] = pd.to_datetime(df_ratings['timestamp'], unit = 's')

In [148]:
df_ratings.head()

   userId  movieId  rating           timestamp
0       1       31     2.5 2009-12-14 02:52:24
1       1     1029     3.0 2009-12-14 02:52:59
2       1     1061     3.0 2009-12-14 02:53:02
3       1     1129     2.0 2009-12-14 02:53:05
4       1     1172     4.0 2009-12-14 02:53:25

In [149]:
df_movies.sample(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
25143,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,72892,tt0134633,ru,Ekipazh,Story of the lives of three Soviet pilots who ...,...,1979-05-19,0.0,144.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Air Crew,False,5.8,8.0
43332,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,375898,tt4313608,fr,Paris-Willouby,Claire and Maurice have to take the whole fami...,...,2016-01-20,0.0,83.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Meet the Guilbys,False,5.2,14.0

In [150]:
df_movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [151]:
df_movies.shape

(45466, 24)

In [152]:
# Checking null values percentage
percent = df_movies.isnull().sum()*100/len(df_movies)
total = df_movies.isnull().sum()
movies_null = pd.DataFrame({'Total':total, 'Percent':percent})
movies_null

                       Total    Percent
adult                      0   0.000000
belongs_to_collection  40972  90.115691
budget                     0   0.000000
genres                     0   0.000000
homepage               37684  82.883913
id                         0   0.000000
imdb_id                   17   0.037391
original_language         11   0.024194
original_title             0   0.000000
overview                 954   2.098271
popularity                 5   0.010997
poster_path              386   0.848986
production_companies       3   0.006598
production_countries       3   0.006598
release_date              87   0.191352
revenue                    6   0.013197
runtime                  263   0.578454
spoken_languages           6   0.013197
status                    87   0.191352
tagline                25054  55.104914
title                      6   0.013197
video                      6   0.013197
vote_average               6   0.013197
vote_count                 6   0.013197

In [153]:
# Keeping columns with null values less than 10% only
drop_list = movies_null[movies_null['Percent']>10].index.tolist()
df_movies.drop(drop_list, axis = 1, inplace = True)
df_movies.columns

Index(['adult', 'budget', 'genres', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [154]:
df_movies.dtypes

adult                    object
budget                   object
genres                   object
id                       object
imdb_id                  object
original_language        object
original_title           object
overview                 object
popularity               object
poster_path              object
production_companies     object
production_countries     object
release_date             object
revenue                 float64
runtime                 float64
spoken_languages         object
status                   object
title                    object
video                    object
vote_average            float64
vote_count              float64
dtype: object

In [155]:
df_movies.adult.value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
 - Written by Ørnås                                                                                                                   1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
Name: adult, dtype: int64

In [156]:
# Keeping rows where adult column is false and dropping adult column
df_movies = df_movies[df_movies.adult == 'False'].drop('adult', axis = 'columns')

In [157]:
df_movies.video.value_counts()

False    45358
True        93
Name: video, dtype: int64

In [158]:
# Keeping rows with video is false
df_movies.video = df_movies.video == 'True'
df_movies.video.value_counts()

False    45454
Name: video, dtype: int64

In [159]:
# Converting columns to numeric types
df_movies.budget = df_movies.budget.astype(int)
df_movies.id = pd.to_numeric(df_movies.id, errors = 'raise')
df_movies.popularity = pd.to_numeric(df_movies.popularity, errors = 'raise')

In [160]:
# Converting column to datetime datatype
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'])

In [161]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45454 entries, 0 to 45465
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45454 non-null  int32
 1   genres                45454 non-null  object
 2   id                    45454 non-null  int64
 3   imdb_id               45437 non-null  object
 4   original_language     45443 non-null  object
 5   original_title        45454 non-null  object
 6   overview              44500 non-null  object
 7   popularity            45451 non-null  float64
 8   poster_path           45068 non-null  object
 9   production_companies  45451 non-null  object
 10  production_countries  45451 non-null  object
 11  release_date          45368 non-null  datetime64[ns]
 12  revenue               45451 non-null  float64
 13  runtime               45194 non-null  float64
 14  spoken_languages      45451 non-null  object
 15  status                45370 non-null  object
 16  title                 45451 non-null  object
 17  video                 45454 non-null  bool
 18  vote_average          45451 non-null  float64
 19  vote_count            45451 non-null  float64
dtypes: bool(1), datetime64[ns](1), float64(5), int32(1), int64(1), object(11)
memory usage: 6.8+ MB

In [162]:
movies_wiki_raw[0]

{'url': 'https://en.wikipedia.org/wiki/The_Adventures_of_Ford_Fairlane',
 'year': 1990,
 'imdb_link': 'https://www.imdb.com/title/tt0098987/',
 'title': 'The Adventures of Ford Fairlane',
 'Directed by': 'Renny Harlin',
 'Produced by': ['Steve Perry', 'Joel Silver'],
 'Screenplay by': ['David Arnott', 'James Cappe', 'Daniel Waters'],
 'Story by': ['David Arnott', 'James Cappe'],
 'Based on': ['Characters', 'by Rex Weiner'],
 'Starring': ['Andrew Dice Clay',
  'Wayne Newton',
  'Priscilla Presley',
  'Lauren Holly',
  'Morris Day',
  'Robert Englund',
  "Ed O'Neill"],
 'Narrated by': 'Andrew "Dice" Clay',
 'Music by': ['Cliff Eidelman', 'Yello'],
 'Cinematography': 'Oliver Wood',
 'Edited by': 'Michael Tronick',
 'Productioncompany ': 'Silver Pictures',
 'Distributed by': '20th Century Fox',
 'Release date': ['July 11, 1990', '(', '1990-07-11', ')'],
 'Running time': '102 minutes',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$20 million',
 'Box office': '$21.4 million'}

In [163]:

def clean_movie(movie):
    """This function will take the each movie will combine alternate titles and change column names."""
    movie = dict(movie)
    alt_titles = {}
#     Combine alternate titles into one list alt_titles    
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                    'Hangul','Hebrew','Hepburn','Japanese','Literally',
                    'Mandarin','McCune-Reischauer','Original title','Polish',
                    'Revised Romanization','Romanized','Russian',
                    'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles

    def change_column_name(old_name, new_name):
        """This function will replace the values of old name in new name and pop the old name from list"""
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)

    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')

    return movie

In [164]:

def clean_movies_json(movies_wiki_json):
    # Using list comprehension to filter out Tv shows from Movies
    movies_wiki = [movie for movie in movies_wiki_raw
                   if ('Director' in movie or 'Directed by') in movie 
                   and 'imdb_link' in movie   
                   and 'No. of episodes' not in movie]
    
    # Using a list comprehension to clean each movie with function clean_movie
    clean_movies = [clean_movie(movie) for movie in movies_wiki]
    
    movies_wiki_df = pd.DataFrame(clean_movies)
    
    # Using regexp to extract id from link and drop duplicate rows from id
    movies_wiki_df['imdb_id'] = movies_wiki_df['imdb_link'].str.extract(r'(tt\d{7})')
    movies_wiki_df.drop_duplicates('imdb_id', inplace = True)
    
    # Using list comprehension to keep only columns with null values less than 10%
    wiki_columns_keeping = [column for column in movies_wiki_df.columns 
                            if movies_wiki_df[column].isnull().sum() < len(movies_wiki_df) * 0.9]
    movies_wiki_df = movies_wiki_df[wiki_columns_keeping]
    
    box_office = movies_wiki_df['Box office'].dropna()
    
    # Convert box_office to string values using lambda function
    box_office = box_office.apply(lambda x: ' '.join(x) if type(x) ==  list else x)
    
    # Using regular expressions to match two types of patterns in box office data
    type_one = r'\$\d+\.?\d*\s*[mb]illion'
    type_two = r'\$\d{1,3}(?:,\d{3})+'
    
    def parse_dollars(s):
        """ This function will parse the box_office column using regular expressions."""
        if type(s) != str:
            return np.nan
        # Matches only the input of type $###.# million
        if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):
            s = re.sub('\$|\s|[a-zA-Z]', '', s)  # Removes the $ sign and ' million'
            value = float(s) * 10 ** 6  # Convert string to float and multiply by a million
            return value
        # Matches only the input of type $###.# billion
        elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):
            s = re.sub('\$|\s|[a-zA-Z]', '', s)  # Removes the $ sign and ' billion'
            value = float(s) * 10 ** 9  # Convert string to float and multiply by a billion
            return value
        # Matches only the input of type $###.# billion
        elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):
            s = re.sub('\$|,', '', s)  # Removes $ dollar sign and commas
            value = float(s)  # Convert string to float
            return value
        else:
            return np.nan
    # Cleaning the box_office column using the parse_dollar function
    movies_wiki_df['box_office'] = box_office.str.extract(f'({type_one}|{type_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
    movies_wiki_df.drop("Box office", axis=1, inplace = True)
    
    # Cleaning the release_date column using regular expressions
    release_date = movies_wiki_df['Release date'].dropna()
    release_date = release_date.apply(lambda x: ' '.join(x) if type(x) == list else x)
    date_type_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d,\s\d{4}'
    date_type_two = r'\d{4}.[01]\d.[123]\d'
    date_type_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
    date_type_four = r'\d{4}'
    movies_wiki_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_type_one}|{date_type_two}|{date_type_three}|{date_type_four})')[0], infer_datetime_format=True)
    movies_wiki_df.drop('Release date', axis=1, inplace= True)
    
    # Cleaning the budget column using regular expressions and parse_dollars funtion with patterns used in box_office cleaning
    budget = movies_wiki_df['Budget'].dropna()
    budget = budget.apply(lambda x: ' '.join(x) if type(x) == list else x)
    budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)
    movies_wiki_df['budget'] = budget.str.extract(f'({type_one}|{type_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)
    movies_wiki_df.drop('Budget', axis=1, inplace=True)
    
    # Cleaning running time column using regular expresssions
    running_time = movies_wiki_df['Running time'].dropna()
    running_time = running_time.apply(lambda x: ' '.join(x) if type(x) == list else x)
    running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)|s*m')
    running_time_extract = running_time_extract.apply(lambda x: pd.to_numeric(x, errors='coerce')).fillna(0)
    movies_wiki_df['running_time'] = running_time_extract.apply(lambda x: x[0]*60 + x[1] if x[2] == 0 else x[2], axis=1)
    movies_wiki_df.drop('Running time', axis=1, inplace = True)
    
    return movies_wiki_df

In [165]:
movies_wiki_df = clean_movies_json(movies_wiki_raw)

In [166]:
movies_wiki_df.columns

Index(['url', 'year', 'imdb_link', 'title', 'Based on', 'Starring',
       'Cinematography', 'Country', 'Language', 'Director', 'Distributor',
       'Editor(s)', 'Composer(s)', 'Producer(s)', 'Production company(s)',
       'Writer(s)', 'imdb_id', 'box_office', 'release_date', 'budget',
       'running_time'],
      dtype='object')

# 3. Load